<!-- START BLOCK : ok_alta -->
<div class="alert alert-info">
	<span><b>Se Asigno con exito!!</b></span><br>
    <span><b><strong>Evaluador</strong></b></span><br>
    <span>{apellido}&nbsp&nbsp&nbsp&nbsp{nombre}</span><br>
	<span><b><strong>Titulo a evaluar</strong></b></span><br>
	<span>{titulo}</span><br>
	<strong>Area</strong>
	<span>{area}</span><br>
	<strong>Tipo</strong>
	<span>{tipo}</span><br>
	
</div>
<!-- END BLOCK : ok_alta -->

<!-- START BLOCK : no_ok_alta -->
<div class="alert alert-danger">
	<h2>No se pudo dar de Baja al usuario:</h2>

	<h2>Intente mas tarde.</h2>
</div>
<!-- END BLOCK : no_ok_alta -->
<br><br>


<a href="index.php?action=Registrar::mostrar_titulos_user">Paguina Admin</a>&nbsp&nbsp&nbsp&nbsp
<a href="index.php?action=Registrar::cerrar_sesion">Terminar Sesion</a> 