<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IDI</title>
    <!--CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/estilo_christian.css" type="text/css">
    <!--JavaScript -->
    <script type="text/javascript" src="../js/javascript_christian.js"></script>
    <!-- imagen de la pestaña -->
    
    <link href="../imagenes/favicon.ico" rel='shortcut icon' type='image/x-icon'>
    
</head>

<body class="fondo2">
<div class="formulario">
            <div class="centro_form">
                
            <img alt="XII Jornadas de Ciencia y Tecnología de Facultades de Ingeniería del NOA" height="186px; " id="Header1_headerimg" src="../imagenes/encabezado4.png" style="display: block" width="100%;" height="100%;">
                <br><br><br>
                    

			<div class="alert alert-danger">
					<h2>Archivo Demasiado Grande!!</h2>
				</div>
				<a href="../index.php?action=Registrar::cerrar_sesion">Terminar Session</a> &nbsp&nbsp&nbsp&nbsp
				<a href="../index.php?action=Registrar::mostrar_titulos_user">Menu Titulos</a> 
            </div>
</div>

    <!-- Pie de Pagina -->
    <footer id="piepagina">
        <div class="row margen">
            <div class="col-lg-1 col-md-1">
            </div>
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                <div class="text-center">
                <hr/>
                    <div class="row"><h3 class="font-pie">Instituto de Informatica</h3></div>
                    <div class="row"><h3 class="font-pie">Universidad Nacional de Catamarca</h3></div>
                    <a class="btn btn-social-icon btn-facebook" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-facebook']);"><span class="fa fa-facebook"></span></a>
                </div>
            </div>
        </div>
    </footer>



</body>

</html>