<!-- START BLOCK : aceptado -->                      
<div class="alert alert-success">
	<span><b>Evaluador ACEPTADO con exito.</b></span><br>
	<span><b>Nombre</b></span><br>
	<span>{nombre}</span><br>
	<span><b>Apellido</b></span><br>
	<span>{apellido}</span><br>
	<span><b>Correo</b></span><br>
	<span>{correo}</span><br>
	<span><b>Usuario Nuevo</b></span><br>
	<span>{usuario}</span><br>		
	<span><b>Contraseña</b></span><br>
	<span>{pass}</span><br>		
</div>
<!-- END BLOCK : aceptado -->

<!-- START BLOCK : rechazado -->                      
<div class="alert alert-info">
	<span><b>Evaluador RECHAZADO con exito.</b></span><br>
	<span><b>Nombre</b></span><br>
	<span>{nombre}</span><br>
	<span><b>Apellido</b></span><br>
	<span>{apellido}</span><br>
	<span><b>Correo</b></span><br>
	<span>{correo}</span><br>	
</div>
<!-- END BLOCK : rechazado -->

<!-- START BLOCK : error_pendiente -->                      
<div class="alert alert-danger">
	<span><b>No se pudo Rechazar!!!</b></span><br>
	<br><br>
	<span><b>Intente mas tarde.</b></span><br>	
</div>
<!-- END BLOCK : error_pendiente -->

<a href="index.php?action=Registrar::cerrar_sesion">Terminar Sesion</a> &nbsp&nbsp&nbsp&nbsp
<a href="index.php?action=Registrar::mostrar_titulos_user">Menu Titulos</a> 