

 <!-- START BLOCK : ok_eliminado -->                      
<div class="alert alert-warning">
	<span><b>Archivo Eliminado Con Exito!!</b></span><br>
	<span><b>Autores</b></span><br>
	<span>{autores}</span><br>
	<span><b>Titulo</b></span><br>
	<span>{titulo}</span><br>
	<span><b>Area</b></span><br>
	<span>{area}</span><br>	
	<span><b>Tipo</b></span><br>
	<span>{tipo}</span><br>		
</div>
<!-- END BLOCK : ok_eliminado -->

<!-- START BLOCK : no_ok_eliminado -->                      
<div class="alert alert-danger">
	<span><b>No se pudo eliminar!!!</b></span><br>
	<span><b>Autores</b></span><br>
	<span>{autores}</span><br>
	<span><b>Titulo</b></span><br>
	<span>{titulo}</span><br>
	<span><b>Area</b></span><br>
	<span>{area}</span><br>	
	<span><b>Tipo</b></span><br>
	<span>{tipo}</span><br>	
	<br><br>
	<span><b>Intente mas tarde.</b></span><br>	
</div>
<!-- END BLOCK : no_ok_eliminado -->

<a href="index.php?action=Registrar::cerrar_sesion">Terminar Sesion</a> &nbsp&nbsp&nbsp&nbsp
<a href="index.php?action=Registrar::mostrar_titulos_user">Menu Titulos</a> 