<h2 align="left">{nombre_evaluador}</h2>
<h3 align="left">Títulos asignados.</h3>
<table cellpadding="15" class="table table-hover" align="center">
        <tr>
            <th>Nombre</th>
            <th>Area</th>  
            <th>Sub-Area</th>           
            <th>Resumen</th>
            
            <th>Articulo Completo</th>
            <th>Devolucion</th>
            
           
        </tr>
        <tr>
        <!-- START BLOCK : cuerpo_lista -->
            <td>{nombre}</td>
            <td>{area}</td>
            <td>{subarea}</td>
            <td>{archivo_i}
            {sin_archivo}
            <!-- START BLOCK : con_descarga_i -->
                <a href="{id_archivo}" download = '{titulo_descargar}'>
                    <button type="button"  class="btn btn-success btn-md">Descargar
                    </button> </a>
            <!-- END BLOCK : con_descarga_i -->
            </td>
            
            <td>{archivo_iii}
            {sin_archivo}
            <!-- START BLOCK : con_descarga_iii -->
                <a href="{id_archivo}" download = '{titulo_descargar}'>
                    <button type="button"  class="btn btn-success btn-md">Descargar
                    </button> </a>
            <!-- END BLOCK : con_descarga_iii -->
            </td>
            <td>
            <!-- START BLOCK : realiza_devolucion -->
                <a href="index.php?action=Devolucion::realiza_devolucion&id={id_titulo}&id_evaluador={id_evaluador}" >
                    <button type="button"  class="btn btn-success btn-md">Realizar Devolucion
                    </button> </a>
            <!-- END BLOCK : realiza_devolucion -->
            <!-- START BLOCK : ver_devolucion -->
                <a href="index.php?action=Devolucion::ver_devolucion&id={id_titulo}&id_evaluador={id_evaluador}" >
                    <button type="button"  class="btn btn-info btn-md">Ver Devolucion
                    </button> </a>
            <!-- END BLOCK : ver_devolucion -->
            </td>
           
            
        </tr>
        <!-- END BLOCK : cuerpo_lista -->
    </table>
<br><br>    
<span><p>
    <strong>Los nombres con los que se descargan los archivos, posee el patron de:<br>
    NOMBRE_TITULO.[RESUMEN1 || RESUMEN2 || TRABAJOFINAL].DOCX</strong>
</p></span>
<br><br>   
<a href="index.php?action=Registrar::cerrar_sesion">Terminar Sesion</a> 