<!-- START BLOCK : ok_permiso -->
<div class="alert alert-info">
	<span><b>Privilegios Elevados!</b></span><br>
    <span><b>Para</b></span><br>
    <span>{apellido}&nbsp&nbsp&nbsp&nbsp{nombre}</span><br>
	<span><b>DNI</b></span><br>
	<span>{dni}</span><br>
	<span><b>Privilegio</b></span><br>
	<span>{permiso}</span><br>
</div>
<!-- END BLOCK : ok_permiso -->

<!-- START BLOCK : no_ok_permiso -->
<div class="alert alert-danger">
	<h2>No se pudo elevar privilegios.</h2>
	<h2>Intente mas tarde.</h2>
</div>
<!-- END BLOCK : no_ok_permiso -->
<a href="index.php?action=Registrar::mostrar_titulos_user">Paguina Admin</a>&nbsp&nbsp&nbsp&nbsp
<a href="index.php?action=Registrar::cerrar_sesion">Terminar Sesion</a> 

