<!-- START BLOCK : ok_contraseña -->
<div class="alert alert-info">
	<span><b>Reseteo  de Contraseña</b></span><br>
    <span><b>Apellido y Nombre</b></span><br>
    <span>{apellido}&nbsp&nbsp&nbsp&nbsp{nombre}</span><br>
	<span><b>Correo</b></span><br>
	<span>{correo}</span><br>
	<span><b>Nueva contraseña</b></span><br>
	<span>{pass}</span><br>
	<span>
		<p><h3>La contraseña reestablecida, es el número de Documento con el cual se registró.</h3></p>
	</span>
	
</div>
<!-- END BLOCK : ok_contraseña -->

<!-- START BLOCK : no_ok_contraseña -->
<div class="alert alert-danger">
	<h2>No se pudo Resetear Contraseña</h2>

	<h2>Intente mas tarde.</h2>
</div>
<!-- END BLOCK : no_ok_contraseña -->
<br><br>


<a href="index.php?action=Registrar::mostrar_titulos_user">Paguina Admin</a>&nbsp&nbsp&nbsp&nbsp
<a href="index.php?action=Registrar::cerrar_sesion">Terminar Sesion</a> 